.artist-add
  position fixed
  bottom 20px
  right 20px
  z-index 100

.el-form-item:last-child
  margin-bottom 0

.el-input.error
  border 1px solid red

.el-dropdown-link
  cursor pointer
  color #409EFF

.el-icon-arrow-down
  font-size 12px

.no-margin
  margin-bottom 0

