div
  el-button.artist-add(@click='dialogVisible = true', type='success', round) Add artist
  el-dialog(title='Add Artist', :visible.sync='dialogVisible', width='30%')
    el-form(:model="newArtist")
      el-form-item
        el-input(v-model='newArtist.title', placeholder='Title of artist')
      el-form-item
        el-input(v-model='newArtist.origin', placeholder='Origin of artist')
      el-form-item
        el-input(v-model='newArtist.imageUrl', placeholder='Image url of artist')
    span.dialog-footer(slot='footer')
      el-button(type='success', @click='submit') Submit
