.container

  .modal-backdrop.fade(v-bind:class="{ show: modalOpen }" v-on:click="closeModal")

  .modal.fade(v-bind:class="{ show: modalOpen }")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Add Artist
          button.close(v-on:click="closeModal")
            span ×
        form(v-on:submit="submit")
          .modal-body
            .form-group
              label Title
              input.form-control(v-model="newArtist.title" type="text")
            .form-group
              label Origin
              input.form-control(v-model="newArtist.origin" type="text")
            .form-group
              label Image url
              input.form-control(v-model="newArtist.imageUrl" type="text")
          .modal-footer
            button.btn.btn-primary(type="submit") Save changes
            button.btn.btn-secondary(v-on:click="closeModal") Close

  button.btn.btn-lg.btn-success.btn-fixed(v-on:click="openModal") +

  .row
    .col.col-12
      h1 Artists
    .col.col-3(v-for="artist in artists")
      .card
        img.card-img-top(v-bind:src="artist.imageUrl" style="width: 100%")
        .card-block
          h4.card-title {{ artist.title }}
          p.card-text {{ artist.origin }}
        ul.list-group.list-group-flush.text-center
          li.list-group-item
            a(href="#" style="margin: 0 auto;")
              i.fa.fa-spotify.fa-2x
          li.list-group-item
            a(href="#" style="margin: 0 auto;")
              i.fa.fa-soundcloud.fa-2x
        .card-block
          button.btn.btn-danger(v-on:click="remove(artist.id)") Remove
